<div id="modal" class="modal">
    <div class="modal-content">
      <span id="close-btn">&times;</span>
  
      <!-- INFO -->
      <div class="info__section">
          <h1 class="info__title">INFO</h1>
          <p class="info__text" id="modal-info-text"></p>    
      </div>
  
      <!-- WHEN -->
      <div class="when__section">
          <h1 class="when__title">WHEN</h1>
          <ul class="when__list">
              <p class="when__text" id="modal-when-date"></p>
              <p class="when__text" id="modal-when-time"></p>
          </ul>
      </div>
  
      <!-- WHERE -->
      <div class="where__section">
          <h1 class="where__title">WHERE</h1>
          <ul class="where__list">
              <p class="where__text" id="modal-where-city"></p> 
              <p class="where__text" id="modal-where-location"></p> 
          </ul>
      </div>
  
      <!-- WHO -->
      <div class="who__section">
          <h1 class="who__title">WHO</h1>
          <p class="who__text" id="modal-who"></p> 
      </div>
  
      <!-- PRICES -->
      <div class="prices__section">
          <h1 class="prices__title">PRICES</h1>
          <p class="prices__text" id="modal-price-standard"></p> 
          <button class="prices__btn">BUY TICKETS</button>
          <p class="prices__text" id="modal-price-vip"></p> 
          <button class="prices__btn">BUY TICKETS</button>
      </div>
  
      <!-- MORE FROM THIS AUTHOR -->
      <button class="author__btn">MORE FROM THIS AUTHOR</button>
    </div>
  </div>