$titleColor: #DC56C5;
$textColor: #fff;
$textColorModal: #0E0E0E;
$buttonColor: #4C00FE;
$inputColor: #939393;

$mainFonts:'Montserrat', sans-serif;

$Bolt: 700;
$SemiBolt: 600;
$Regular: 400;
$Medium: 500;

$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
