h1 {
    color: #DC56C5;
    font-size: 24px;
}

p {
    font-size: 18px;
    color: #0E0E0E;
}

.modal {
    border-radius: 300px 0px 0px 300px;
}

.close-btn {
    color: #4C00FE;
}

.img__preview {
    border-radius: 50px 0px 0px 50px;
    width: 144px;
    height: 181px;
}

.prices__btn {
    border-radius: 5px;
    background-color: #4C00FE;
    color: #FFFFFF;
    width: 145px;
    height: 40px;
}

.more__but {
    background-color: transparent;
    color: #4C00FE;
    border: 2px solid #4C00FE;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
}

.img__modal {
    width: 360px;
    height: 641px;
}

@media (max-width: 768px) {
    .modal {
      width: 90%;
    }
  
    p {
      word-wrap: break-word;
    }
  }

  @media (max-width: 480px) {
    .modal {
      width: 100%;
    }
  
    p {
      word-wrap: break-word;
    }
  }
  