<div class="container main">
    <div id="events" class="row g-4"></div>
    <div id="pagination" class="d-flex justify-content-center mt-4"></div>
  </div>

  <div class="backdrop"></div>
  <div class="modal">
    <div class="modal-content">
      <button class="close-modal-btn">Close</button>
      <div class="modal-body">
        <img class="big-img" src="" alt="">
        <div class="info-container">
          <h3 class="title-info">INFO</h3>
          <p class="promoter-desc"></p>
          <h3 class="title-when">WHEN</h3>
          <p class="date"></p>
          <p class="time"></p>
          <h3 class="title-where">WHERE</h3>
          <p class="location"></p>
          <p class="venue-name"></p>
          <h3 class="title-who">WHO</h3>
          <p class="event-name"></p>
          <h3 class="title-price">PRICES</h3>
          <p class="price-range"></p>
        </div>
      </div>
    </div>
  </div>
  